/* ### RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ### UTILS */

.container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.w-25 {
  width: 25%;
}

/* ### PAGE */

/* ## HEADER */

.header {
  height: 80px;
  background-image: url(../img/jumbo.png);

  /* debug 
  background-color: #add8e6;*/
}

.header > .container {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.header > .container > * {
  flex-basis: 200px;

  /* debug 
  background-color: #d9a41f;
  border: 2px dashed black;
   padding: 10px;
  */
}

.header > .container > .header__nav {
  flex-grow: 1;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
a {
  align-items: center;
  text-decoration: none;
  color: white;
}
.header__login {
  color: black;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 100px;
  font-size: 1.4rem;
}

/* ## JUMBOTRON */

.jumbotron {
  padding: 3rem 0;
  background-size: cover;
  background-image: url(../img/jumbo.png);
  color: white;
  height: 600px;
  display: flex;

  /* debug 
  background-color: #00008b;*/
}

.jumbotron .jumbotron__content {
  width: 800px;
  margin: 0 auto;
  align-items: center;

  /* debug
  background-color: #ee82ee;
  border: 2px dashed black;
  height: 400px; */
}
h1 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 2.5rem;
}
h3 {
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
}

.button-download {
  color: black;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  margin-right: 40px;
}
.button-open-discord {
  background-color: black;
  color: white;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 20px;
}

/* ## ROWS SECTION */

main > section {
  padding: 3rem 0;
}

main > section:nth-of-type(odd) {
  background-color: white;
}

main > section:nth-of-type(even) {
  background-color: #d3d3d3;
}

main > section > .container {
  display: flex;
}

main > section:nth-of-type(even) > .container {
  flex-direction: row-reverse;
}
#col-frog {
  background-image: url(..//img/item1.svg);
}

#col-voice {
  background-image: url(../img/item2.svg);
}
#col-coach {
  background-image: url(..//img/item3.svg);
}

main > section .col-big,
main > section .col-small {
  /* debug */
  height: 400px;
}

main > section .col-big {
  flex-basis: 60%;
}

main > section .col-small {
  flex-basis: 40%;
}

main > .download > .container {
  display: block;
}

main > .download .col {
  height: 1000px;
}

h2{
  font-size: 40px;
  margin-bottom: 20px;
}

.col-small{
  margin-left: 30px;
  margin-top: 40px;
  font-size: 20px;
}

#chill {
  background-image: url(../img/item4-big.svg);
  height: 600px;
  background-size: cover;
}
#star {
  background-image: url(../img/stars.svg);
  display: flex;
  line: height 20px;
}
.adventure {
  font-size: xx-large;
  text-align: center;
}
.button-Mac {
  background-color: #8ea1e1;
  color: white;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  justify-content: center;
  vertical-align: bottom;
  font-size: xx-large;
  margin: 10px;
}

/* ## FOOTER */

.footer {
  background-color: #23272a;
  padding-top: 10px;
}

.footer .upper-footer {
  display: flex;

  padding-bottom: 2rem;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}

.footer .upper-footer > .col-small {
  width: 30%;

  /* debug 
  height: 500px;
  background-color: #f08080;
  border: 2px dashed black;*/
}

.footer .upper-footer > .col-big {
  width: 70%;
  display: flex;
  height: 500px;
  /* debug 
  background-color: #20b2aa;
  border: 2px dashed black;
}

.footer .col-big > .w-25 {
  border: 2px dashed white;*/
}

.footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* debug 
  height: 100px;
  background-color: #7fffd4;*/
}

.bottom-footer > .logo,
.bottom-footer > .button {
  padding: 5px 10px;

  /* debug 
  background-color: #fdb5bf;
  border: 2px dashed black;*/
}
.button {
  background-color: #8ea1e1;
  color: white;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  justify-content: center;
  vertical-align: bottom;
  font-size: large;
  margin: 40px;
}
.header-col-small{
  color:#7289da;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.header-col-w25{
  color:#7289da ;
  font-size: 25px;
  margin-top: 90px;
  margin-bottom: 30px;
}
.ita-flag{
  color: white ;
  font-size: 20px;
}
.social-media{
  color: white;
  margin: 20px;
  margin-left: 10px;
}

.flag{
background-size: 10px;
}

ul{
  list-style: none;
  line-height: 20px;

}
li{
  color: white;
  line-height: 20px;

}