/* ### RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ### UTILS */

.container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.w-25 {
  width: 25%;
}

/* ### PAGE */

/* ## HEADER */

.header {
  height: 80px;
  background-image: url(../img/jumbo.png);

  /* debug 
  background-color: #add8e6;*/
}

.header > .container {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.header > .container > * {
  flex-basis: 200px;
  padding: 10px;

  /* debug 
  background-color: #d9a41f;
  border: 2px dashed black;*/
}

.header > .container > .header__nav {
  flex-grow: 1;
}
.header__login {
  color: black;
  height: 40px;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

/* ## JUMBOTRON */

.jumbotron {
  padding: 3rem 0;
  background-size: cover;
  background-image: url(../img/jumbo.png);
  color: white;
  height: 600px;
  display: flex;

  /* debug 
  background-color: #00008b;*/
}

.jumbotron .jumbotron__content {
  width: 800px;
  margin: 0 auto;
  align-items: center;

  /* debug
  background-color: #ee82ee;
  border: 2px dashed black;
  height: 400px; */
}
h1 {
  text-align: center;
  font-size: 100px;
}
h3 {
  line-height: 30px;
  font-size: 30px;
  text-align: center;
}
.button-download {
  color: black;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  margin-right: 40px;
  align-items: center;
}
.button-open-discord {
  background-color: black;
  color: white;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 20px;
}

/* ## ROWS SECTION */

main > section {
  padding: 3rem 0;
}

main > section:nth-of-type(odd) {
  background-color: white;
}

main > section:nth-of-type(even) {
  background-color: #d3d3d3;
}

main > section > .container {
  display: flex;
}

main > section:nth-of-type(even) > .container {
  flex-direction: row-reverse;
}
#col-frog {
  background-image: url(..//img/item1.svg);
}

#col-voice {
  background-image: url(../img/item2.svg);
}
#col-coach {
  background-image: url(..//img/item3.svg);
}

main > section .col-big,
main > section .col-small {
  /* debug */
  height: 400px;
}

main > section .col-big {
  flex-basis: 60%;
}

main > section .col-small {
  flex-basis: 40%;
}

main > .download > .container {
  display: block;
}

main > .download .col {
}

#chill {
  background-image: url(../img/item4-big.svg);
  height: 600px;
  background-size: contain;
}

/* ## FOOTER */

.footer {
  background-color: #23272a;
  padding-top: 10px;
}

.footer .upper-footer {
  display: flex;

  padding-bottom: 2rem;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}

.footer .upper-footer > .col-small {
  width: 30%;

  /* debug */
  height: 500px;
  background-color: #f08080;
  border: 2px dashed black;
}

.footer .upper-footer > .col-big {
  width: 70%;
  display: flex;

  /* debug */
  height: 500px;
  background-color: #20b2aa;
  border: 2px dashed black;
}

.footer .col-big > .w-25 {
  border: 2px dashed white;
}

.footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* debug */
  height: 100px;
  background-color: #7fffd4;
}

.bottom-footer > .logo,
.bottom-footer > .button {
  padding: 5px 10px;

  /* debug */
  background-color: #fdb5bf;
  border: 2px dashed black;
}
